.node {
  width: 100%;
  border: 1px solid #e7e7e7;
  margin: 5px;
}

.node label {
  display: block;
  color: #777;
  font-size: 12px;
}

.custom_header {
  display: flex;
  font-size: 12px;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 5px;
}
.sub_header {
  display: flex;
  flex-direction: column;

  border: 1px solid #e7e7e7;
  border-radius: 5px;
  padding: 5px;
  margin: 0 5px 5px 5px;
}
